proxy_host: "localhost:9000"
source_host: "localhost:8080"
tasks:
    go:
        command:
            execute: go run main.go
            needs_restart: true
            watch_stdout	
        monitor:
            paths:
                - ./public
