proxy: 
  scheme: "https"
  host: "localhost:9000"
  staticPath: ./static
source:
  scheme: "https"
  host: "localhost:8080"
  replaces:
    - search: "//cdn.example.com"
      replase: "//localhost:9000"
tasks:
  web:
    aggregateTimeout: 300
    commands:
      go:
        executes:
          - "go clean"
          - "go build -o main"
          - "./main"
        needs_restart: true
    monitor:
      paths:
        - ./view
  js:
    commands:
      webpack:
        execute: npm start --prefix ./public/assets
        needsRestart: false
        watchStdouts:
          - bundle.js
      test:
        execute: npm test --prefix ./public/assets
        needsRestart: true
    monitor:
      paths:
        - ./public/assets
      ignores:
        - node_modules
